body{
  backround-color:#FFFFE0;
  font-family: arial, sans-serif;
  color:#191970;
  display:flex;
  justify-content:center;
  text-align:center;
}


.kartu-profil{
 background-color:white;
  width:300px;
  display:flex;
  flex-direction:column;
  text-align:center;
  padding:20px;
  border-radius:15px;
  box-shadow: 10px 5px 5px black;
}

img{
  width:140px;
  border-radius:50%;
}
